
/***********************/
/* GLOBAL STYLES
/**********************/
body{
	background:#f4f4f4;
}
#header{
	.container{
		position: relative;
	}

}
.navbar-default{
	background:none;
	border:none;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	z-index:3;
	.navbar-nav {
		margin-top: 2em;
		li{
			text-transform: uppercase;
			margin:0 2em 1em 0;
			text-align:right;
			a{
				color:#fff;
				text-shadow:1px 1px 1px #545454;
				padding:0.25em 0.25em;
				display: inline-block;
				font-size: 1.2em;
				font-weight: bold;
			}
			&.active{
				a{
					background:none;
					border:1px solid #fff;
					border-radius:3px 3px 3px 3px;
					color:#fff;
				}
				&:hover{
					a{
						background:none;
						color:#ccc;
					}
				}
			}
			&:hover{
				a{
					background:none;
					color:#ccc;
				}
			}
		}
		&.hide-items{
			li{
				display:none;
				&:first-child{
					display: block;
				}
			}


		}
	}
}
.navbar-default .navbar-collapse{
	// background:#084d8b;
	position:absolute;
	top:0;
	width: 100%;
	border:none;
}

a.navbar-brand{
	margin:0 0 0 0 !important;
	width: 250px;
	img{
		width:100%;
	}
}
.navbar-default .navbar-toggle{
	z-index:99;
}

a.logo-small{
	margin: 20px 0 0 10px;
  display: inline-block;
  float: left;
	display:none;
}
.navbar-nav > li{
	float:none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: none;
	z-index: 99;

}
.navbar-default .navbar-toggle{
	position: fixed;
	right: 0;
}
//to use
.nopadding{
	padding: 0 !important;
  margin: 0 !important;
}
.mobile{
	display:none !important;
}
.navbar-default .navbar-toggle .icon-bar{
	background:#fff;
}
/***********************/
/* END GLOBAL STYLES
/**********************/

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}


/***********************/
/*HOME STYLES
/**********************/

#top-banner{
	overflow: hidden;
}

#carouselWrapper{
	z-index:1;
	width:100%;
	overflow:hidden;
	height:450px;
	.item{
		position: relative;
		overflow: hidden;
	}
	.carousel-caption{
			position: absolute;
			overflow:hidden;

		h3{
			text-transform: uppercase;
			font-size:45px;
			font-weight: 800;
			box-shadow: none;
		}
		&#caption-1{
			color: $color-titles;
			bottom: 40%;
			left: 51%;
			width: 40%;
			text-align: left;
		}
		&#caption-2{
			color:#54a74e;
			bottom: 34%;
			left: 11%;
			width: 40%;
			text-align: left;
		}
		&#caption-3{
			color:#fff;

			bottom: 36%;
			left: 44%;
			width: 55%;
			text-align: left;
		}
		&#caption-4{
			color: $color-titles;
			bottom: 32%;
			left: 10%;
			width: 40%;
			text-align: left;
		}
	}
}
#sub-nav{
	overflow:hidden;
	a{
		display: block;
		position:relative;
		.title{
			position:absolute;
			top: 0;
			left: 0;
			text-align: center;
			width: 100%;
			color:#1c456b;
			h2{
				margin:8px 0 0 0;
			}
			p{
				font-size:12px;
			}
		}
		:hover{
			.title{
				text-decoration: underline;
			}
		}
	}
	img{
		width: 100%;
	}

}

// styles fade transition

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

#about{
	width:100%;
	max-height:430px;
	overflow:hidden;
	position:relative;
	&:before{
		content: "";
	  background: url(../images/asset-about.png);
	  opacity: 0.75;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index:1;
	}
	img{
		// z-index:1;
	}
	.about-content{
		display: block;
		position: absolute;
		top: 5em;
		left: 0;
		z-index: 10;
		width:100%;
		color: #fff;
	}
	.menu-about{
		ul{
			text-align: right;
			list-style:none;
			li{
				cursor:pointer;
				width: auto;
				text-transform:uppercase;
				font-size:18px;
				font-weight: bold;
				margin-bottom:20px;
				display:inline-block;
				float: right;
				clear:both;
				&.active{
					border:2px solid #fff;
					padding:5px;
					font-size: 24px;
				}
			}
		}
	}
	.slides-about{
		position:relative;
	}

	.slide-about{
		position: absolute;
		top:0;
		left:0;
		opacity:0;
		padding-left:30px;
		transform: translate(0, 50px);
    transition: all 0.3s ease;
		&.active{
			opacity: 1;

    	transform: translate(0, 0);
		}
	}


}




#map-findus{
	position:relative;
	.title-map{
		position: absolute;
		top:15px;
		right:20px;
		color:#254a94;
		font-weight: 800;
		font-size:35px;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
		z-index:99;
	}
	#map-content{
		box-shadow: 6px 2px 22px #000;
		z-index: 99;
		height:558px;
	}
	.content-location-top{
			.location-img{
				min-height: 100px;
				background:beige;
				height:180px;
			}
			.location-title{
				padding:10px 0 10px 20px;
				color:#fff;
				text-transform: uppercase;

				background: rgba(38,83,132,1);
				background: -moz-linear-gradient(top, rgba(38,83,132,1) 0%, rgba(81,140,91,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,83,132,1)), color-stop(100%, rgba(81,140,91,1)));
				background: -webkit-linear-gradient(top, rgba(38,83,132,1) 0%, rgba(81,140,91,1) 100%);
				background: -o-linear-gradient(top, rgba(38,83,132,1) 0%, rgba(81,140,91,1) 100%);
				background: -ms-linear-gradient(top, rgba(38,83,132,1) 0%, rgba(81,140,91,1) 100%);
				background: linear-gradient(to bottom, rgba(38,83,132,1) 0%, rgba(81,140,91,1) 100%);
				h3{
					color:#fff;
					font-size: 25px;
					font-weight: 800;
				}
				span{
					padding:10px 0 0 0;
					display: inline-block;

				}


			}
	}
	.content-location-bottom{
		font-weight:800;
		text-align:center;
		ul{
			list-style: none;
			padding: 0;
			width: 85%;
			margin: 30px auto;
			overflow: hidden;
			text-align:left;
			li{
				color: #265384;
				float: left;
				padding-bottom:15px;
				text-indent: 30px;
				width:50%;
				font-size: 12px;
				&.phone-icon{
					background: url('../images/phone-icon.png') no-repeat 0 0;
				}
				&.phone-icon-2{
					background: url('../images/phone-icon-2.png') no-repeat 0 0;
				}
				&.pressure-icon{
					background: url('../images/pressure-icon.png') no-repeat 0 0;

				}
				&.parkingLot-icon{
					background: url('../images/parkingLot-icon.png') no-repeat 0 0;

				}
				&.recipe-icon{
					background: url('../images/recipe-icon.png') no-repeat 0 0;

				}
				&.express-icon{
					background: url('../images/express-icon.png') no-repeat 0 0;

				}
				&.injections-icon{
					background: url('../images/injections-icon.png') no-repeat 0 0;

				}
			}
		}
		a.share-location{
			display: inline-block;
			color: $color-titles;
			background: url(../images/share-icon.png) no-repeat 0 0;
			font-size: 20px;
			text-indent: 51px;
			padding: 4px 0 25px;
			margin: 0 auto;

		}
 }
	#map {
			width:100%;
			height:558px;
	  }
}

#contact{
	clear: both;
	min-height:453px;
	background:url('../images/bg-form.png') no-repeat 0 0;
	.logo-white{
		margin:20px 0;
		width: 200px;
		display:block;
			img{
				width:100%;
			}

	}
	.contact-text{
		color: #fff;
    font-size: 11px;
		font-weight:100;
    float: right;
    height: 170px;
    margin: 150px 0 0 0px;
    overflow: hidden;
	}
	.contact-text-small{
		color: #fff;
    font-size: 11px;
		font-weight:100;
		text-align: center;
	}
	.form-contact{
		.form-group{
			clear:both;
			overflow:hidden;
		}
		.form-group
			input, textarea{
				color:#fff;
				font-weight:100;
				float:left;
				width: 250px;
				height:40px;
				margin:10px 10px 10px 0;
				background:none;
				border:1px solid #fff;
				border-radius:20px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #fff;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #fff;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #fff;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #fff;
				}
			}
			textarea{
				clear: both;
				width:80%;
				height: 100px;
			}
			.form-actions{
				clear:both;
			}
			button{
					border:1px solid #fff;
					border-radius:20px;
					background:none;
					font-weight: 100;
					width: 85px;
					height:40px;
					text-align: left;
					text-indent: 25px;
					background:url("../images/send-icon.png") no-repeat 12px 7px;
			}

	}
	.copy-right{
		text-align: center;
		color:#fff;
		font-size: 10px;
		padding: 25px 0;
		clear: both;
	}
}
/***********************/
/*END HOME STYLES
/**********************/


/***********************/
/*COMMERCIAL STYLES
/**********************/
#top-banner.commercial{
	box-shadow: 0px 4px 10px #CBCBCB;
}
.bannerComercial {
	width:100%;
	position: relative;
	// height: 350px;
	img{
		width: 100%;
	}
}
.bannerComercial-text{
	position: absolute;
	z-index:1;
	top:32%;
	left:20%;
	right:0;
		color:$color-titles;
	h1{
		font-size:60px;
		text-transform: uppercase;
		font-weight:800;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

	}
	span{
		font-size:20px;
	}
}

#wrapper-news{
	overflow:hidden;
	width:100%;
	margin:40px 0 0 0;
}

.box-news-wrapper{
	margin-left:20px;
}
.box-news{
	overflow:hidden;
	background:#fff;
	height: 210px;
	margin-bottom: 30px;
	.box-news-media-wrapper{
		img{
			// height: 100%;
		}
	}
	.box-news-content{
		.box-news-top{
			position: relative;
			background: $color-titles;
			padding:20px 0px 20px 20px;
			color:#fff;
			h3{
				margin: 0 0 5px 0;
				font-size: 28px;
				text-transform: uppercase;
				font-weight: 800;
			}
			span{
				font-size:12px;
				text-transform: uppercase;;
			}
			&:after{
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(37, 74, 148, 0);
				border-right-color: #254a94;
				border-width: 25px;
				margin-top: -25px;
			}
		}

		.box-news-preview-content{
			color:$color-titles;
			font-size:13px;
			padding:20px;
			overflow: hidden;
		}

	}
}
.box-old-wrapper{
	color:$color-green;
	h3{
		font-weight:800;
		font-size:32px;
		margin:0 0 30px 0;
	}
	.box-old-news{
		a{
			&:hover{
				text-decoration:none;
			}
		}
		overflow:hidden;
		margin-bottom:35px;
		.box-old-news-title{
			color:$color-green;
			border-bottom: 2px solid $color-green;
			h4{
				font-size:20px;
				font-weight:800;
				text-transform: uppercase;
			}
			span{
				font-size:12px;
				text-transform: uppercase;
			}

		}
		.box-old-news-content{
			padding:20px 0;
			color:$color-green;
			font-size: 13px;

		}
	}

}
/***********************/
/*END COMMERCIAL STYLES
/**********************/

/***********************/
/* SALUD AL DIA STYLES
/**********************/
#salud-wrapper{
	nav.nav-salud{
		overflow:hidden;
		background:$color-green;
		box-shadow: 0px 2px 12px #bbb;

			width:100%;
			height:50px;
			text-transform: uppercase;
			overflow: auto;
			white-space: nowrap;

			list-style: none;
			margin:0;
			padding: 0;
			span.currentYear{
				background:#fff;
				color:$color-green;
				padding: 15px 25px;
				display: inline-block;
				font-weight: 800;
				font-size:15px;
			}
				a{
					color:#fff;
					display: inline-block;
					line-height: 50px;
					font-size: 13px;
					font-weight: 800;
					padding:0 20px;

				}

		}
	}
	#salud-box-wrapper{
		margin:20px 70px;
		.salud-box{
			a{
				width:100%;
				overflow:hidden;
				display: block;
			}
			margin-bottom:50px;
			overflow: hidden;
			width:100%;
			.column-left-salud{
				p.no-news{
					margin:30px 0  0 40px;

					font-size: 15px;
					color: #bbb;
				}
			}
			.column-right-salud{
				border-top: 3px solid $color-titles;
				color:$color-green;
				// text-align: right;
				h4{
					font-size:25px;
					font-weight: bold;

				}
				span{
						font-weight:800;
				}
			}
			.salud-preview-box{
				&:nth-child(even){
					border-left:1px solid $color-titles;
					border-right: 1px solid $color-titles;
				}
				background:#fff;
				height: 600px;
				overflow:hidden;
				.salud-preview-media{
					width:100%;
					height: 250px;

					img{
						height:100%;
						width:100%;
					}
				}
				.salud-preview-box-content{
					color:$color-titles;
					padding:20px 20px;
					background:#fff;
					position:relative;
					height:350px;
					span{
						text-transform: uppercase;
						font-size:12px;
					}
					h6{
						text-transform: uppercase;
						font-weight: 800;
						font-size:20px;
					}
					&:after,:before{
						bottom: 100%;
						left: 15%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}
					&:after{
						border-color: rgba(255, 255, 255, 0);
						border-bottom-color: #fff;
						border-width: 10px;
						margin-left: -10px;
					}
					&:before{
						border-color: rgba(255, 255, 255, 0);
						border-bottom-color: #fff;
						border-width: 14px;
						margin-left: -14px;
					}
					.preview-box-content-tex{

						overflow:hidden;
					}
				}
			}
		}
	}


/***************************/
/* END SALUD AL DIA STYLES
/***************************/


/***********************/
/* Media Query fixes
/**********************/


 @media only screen and (max-width : 992px) {
	#carouselWrapper{
		height:400px;
	}


	.bannerComercial-text{
		left:5%;
		h1{
			font-size:50px;
		}
	}

 }

@media only screen and (max-width : 768px) {
	box-news{
		height:215px;
	}
	.box-news-wrapper{
		margin:0;
	}
	.bannerComercial-text{
		left:5%;
		h1{
			font-size:50px;
		}
	}

	a.navbar-brand{
		width:115px;
	}
	#carouselWrapper{
		height:336px;
		.carousel-caption{
				position: absolute;

			h3{
				font-size:18px;
			}
	}


}
	#map-findus{
		#map{
			height:300px;
		}
	}
	#sub-nav a{
		height:250px;
	}
	// salud al dia
	#salud-box-wrapper{
		margin:20px 60px;
		.salud-box{
			.column-right-salud{
				border: none;
			}
		}
		.column-left-salud{
			// padding:0 !important;
			border:none;
			p.no-news{
				text-align:center;
			}
		}
	}
}

@media only screen and (max-width : 480px){
	.box-news{
		height: 111px;
		margin-bottom: 20px;
	}
	.box-news-wrapper{
		margin:0;
	}
	.bannerComercial-text{
		left:5%;
		top:46%;
		h1{
			font-size: 16px;
			/* margin: 0; */
			/* top: 6%; */
			margin: 0px 0 3px 0;
		}
		span{
			font-size: 14px;

		}
	}
	.box-news{
		.box-news-content{

			.box-news-top{
				padding: 10px 0px 10px 10px;
				h3{
					font-size:14px;
				}
				span{
					font-size: 10px;
				}
				&:after{
					border-width: 15px;
					margin-top: -15px;
				}
			}
			.box-news-preview-content{
				padding:5px;
			}
		}
	}
	.mobile{
		display:block !important;
	}
	a.navbar-brand{
		width:115px;
	}
	.navbar-default .navbar-collapse{
			background: #084d8b;
	}
	a.logo-small{
		display: block;
	}
	.navbar-default .navbar-nav{
		margin-top: 4em;
	}
	.navbar-default .navbar-nav li a{
		font-size:13px;
	}
	.navbar-default .navbar-nav li.active a{
		border-radius: 0;
		border: 0;
		text-decoration: underline;
	}
	#carouselWrapper{
			height:172px;
			.carousel-caption{
					position: absolute;

				h3{
					font-size:13px;
				}
				&#caption-1{
					bottom: 20%;
					left: 50%;
					width: 50%;
				}
				&#caption-2{
					bottom: 12%;
					left: 11%;
					width: 65%;
				}
				&#caption-3{
					bottom: 18%;
					left: 32%;
					width: 64%;
				}
				&#caption-4{
					bottom: 15%;
				}
		}
	}
	#sub-nav a{
		height:140px;
	}
	#about{
		height:auto;
		.menu-about{
			position: absolute;
			top: -58px;
			overflow: hidden;
			left: -16px;
			ul{
				li{
					float: left;
			    font-size: 12px;
			    display: inline;
			    margin: 0 15px 10px 0;

			    clear: none;
					font-weight:normal;
					&.active{
						font-size: 12px;
						padding:0;
						border:0;
						text-decoration: underline;
						font-weight:bold;
					}
				}

			}
		}
	}
	#map-findus{
		#map{
			height:300px;
		}
	}
	// salud al dia
	#salud-box-wrapper{
		margin:20px 0px;
		.salud-box{
			.column-right-salud{
				border: none;
				margin-bottom: 20px !important;
				padding-left: 20px !important;
			}
		}
		.column-left-salud{
			border:none;
			padding:0 !important;
		}
	}
}
@media only screen and (max-width : 320px){
	.box-news{
		height: 103px;
		margin-bottom: 20px;
	}
	.box-news-wrapper{
		margin:0;
		padding: 0!important;
	}
	.bannerComercial-text{
		left:5%;
		top:46%;
		h1{
			font-size: 16px;
			/* margin: 0; */
			/* top: 6%; */
			margin: 0px 0 3px 0;
		}
		span{
			font-size: 14px;
		}
	}
	.box-news{
		.box-news-content{

			.box-news-top{
				padding: 10px 0px 10px 10px;
				h3{
					font-size:14px;
				}
				span{
					font-size: 10px;
				}
				&:after{
					border-width: 15px;
					margin-top: -15px;
				}
			}
			.box-news-preview-content{
				padding:5px;
			}
		}
	}
	.box-old-wrapper {
		padding: 0 !important;
		h3{
			font-size:25px;
		}
	}
	.mobile{
		display:block !important;
	}
	a.navbar-brand{
		width:115px;
	}
	.navbar-default .navbar-collapse{
			background: #084d8b;
	}
	a.logo-small{
		display: block;
	}
	.navbar-default .navbar-nav{
		margin-top: 4em;
	}
	.navbar-default .navbar-nav li a{
		font-size:13px;
	}
	.navbar-default .navbar-nav li.active a{
		border-radius: 0;
		border: 0;
		text-decoration: underline;
	}
	#carouselWrapper{
		height:148px;
		.carousel-caption{
				position: absolute;

			h3{
				font-size:13px;
			}
			&#caption-1{
				bottom: 20%;
				left: 50%;
				width: 50%;
			}
			&#caption-2{
				bottom: 12%;
				left: 11%;
				width: 65%;
			}
			&#caption-3{
				bottom: 18%;
				left: 32%;
				width: 64%;
			}
			&#caption-4{
				bottom: 15%;
			}
	}

	}
	#sub-nav a{
		height:130px;
	}
	#about{
		height:auto;
		.menu-about{
			position: absolute;
			top: -58px;
			overflow: hidden;
			left: -16px;
			ul{
				li{
					float: left;
					font-size: 12px;
					display: inline;
					margin: 0 15px 10px 0;

					clear: none;
					font-weight:normal;
					&.active{
						font-size: 12px;
						padding:0;
						border:0;
						text-decoration: underline;
						font-weight:bold;
					}
				}

			}
		}
	}
	#map-findus{
		#map{
			height:300px;
		}
	}
	// salud al dia
	#salud-box-wrapper{
		margin:20px 0px;
		.salud-box{
			.column-right-salud{
				border: none;
				margin-bottom: 20px !important;
				padding-left: 20px !important;
			}
		}

		.column-left-salud{

			padding:0 !important;
		}
	}
}
